<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a><a href="#" class="current">Drivers</a> </div>
    <h1>Drivers Page</h1>
  </div>
  <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
              <h5>Add Driver</h5>
            </div>
            <div class="widget-content">
              <br>
              <a target="_blank" href="http://localhost:4210/" style="margin: 20px 40px;">Add driver now</a>
              <br>
            </div>
          </div>
          </div>
          <div class="span3">
          </div>
      </div>
  </div>
</div>
