<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Add Car</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Driver</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-body">
            <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
              <h5>Add Driver</h5>
            </div>
            <div class="widget-content">
              <br>
              <a target="_blank" href="http://localhost:4210/" style="margin: 20px 40px;">Add driver now</a>
              <br>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
