<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <!--<div *ngFor="let item of items | async">-->
          <!--<h4 class="page-title">Remits by {{ item.user_email }}</h4>-->
        <!--</div>-->
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['home']">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cars List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle">Search for remits made by driver {{ isName }} and view their corresponding details.</h6>
            <div class="mat-app-background basic-container">
              <div class="example-container mat-elevation-z8">
                <div class="example-header">
                  <div class="container h-100">
                    <mat-form-field style="width: 400px; text-align: center;" class="col-6" *ngIf="!noCashChild">
                      <input class="text-center" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter your search term here..." maxlength="30" matTooltip="*Maximum characters is 30" matTooltipPosition="after">
                    </mat-form-field>
                    <span><i class="mdi mdi-information-outline"></i></span>

                    <div class="row h-100 justify-content-center align-items-center" *ngIf="!noCashChild">
                      <!-- History Per Driver Remits Table Starts Here -->

                      <mat-table #table [dataSource]="cashSource" matSort id="basic-table" class="col-12" style="width: auto; padding: 0;">
                        <ng-container matColumnDef="amount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Amount Remited</mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="timestamp">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Date Remited</mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.timestamp | date:'EEEE, MMMM d, yyyy '}} @ {{ element.timestamp * 1000 | date:'hh:mm a'}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="cashColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: cashColumns;"></mat-row>

                      </mat-table>
                      <mat-card  *ngIf="noRecords" style="padding:100px;">
                        <h3 style="text-align:center">We couldn't find data for
                          <span style="color:red">"{{cashSource.filter}}"</span>
                        </h3>
                      </mat-card>
                      <mat-paginator #paginator
                                     [pageSize]="5"
                                     [pageSizeOptions]="[5, 10, 20]"
                                     [showFirstLastButtons]="true">
                      </mat-paginator>

                      <!-- End of Table -->
                    </div>

                    <div class="row h-100 justify-content-center align-items-center" *ngIf="noCashChild">
                      <p class="alert-danger bold">CURRENTLY NO REMIT HISTORY!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
