<!-- <div class="alert alert-success" *ngIf="driverService.indriver == true">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> Added driver info</div>
<form #driverForm="ngForm" (ngSubmit)="signup(driverService.selectedDriver.email, driverService.selectedDriver.password); onSubmit(driverForm);" class="form-horizontal">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="driverService.selectedDriver.$key" />
  <div class="control-group">
      <label for="exampleInputEmail1" class="control-label">Email address</label>
      <div class="controls">
        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" class="span11" name="email" #name="ngModel" [(ngModel)]="driverService.selectedDriver.email" data-validation="email" placeholder="Enter email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="exampleInputPassword1">Password</label>
      <div class="controls">
        <input class="form-control" id="exampleInputPassword1" type="password" class="span11" name="password" #name="ngModel" [(ngModel)]="driverService.selectedDriver.password" placeholder="Password">
      </div>
    </div>
  <div class="control-group">
    <label class="control-label">First Name: </label>
    <div class="controls">
      <input type="text" class="span11" name="user_firstname" #name="ngModel" [(ngModel)]="driverService.selectedDriver.user_firstname" placeholder="First Name" />
    </div>
</div>
<div class="control-group">
  <label class="control-label">Last Name: </label>
  <div class="controls">
    <input type="text" class="span11" name="user_lastname" #name="ngModel" [(ngModel)]="driverService.selectedDriver.user_lastname" placeholder="Last Name" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">Birthdate: </label>
  <div class="controls"> -->
    <!-- <input type="text" class="span11" name="user_birthday" #name="ngModel" [(ngModel)]="driverService.selectedDriver.user_birthday" placeholder="Birthdate" /> -->
    <!-- <input [matDatepicker]="myDatepicker" name="user_birthday" #name="ngModel" [(ngModel)]="driverService.selectedDriver.user_birthday" placeholder="Birthdate" (keypress)="onlyNumber(event)" [min]="minDate" [max]="maxDate">
    <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </div> -->
  <!-- </div>
<div class="control-group">
  <label class="control-label">Age: </label>
  <div class="controls">
    <input type="text" class="form-control" name="user_age" #name="ngModel" [(ngModel)]="driverService.selectedDriver.user_age" placeholder="Age" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">Mobile Number: </label>
  <div class="controls">
    <input type="text" class="form-control" name="user_mobile" #name="ngModel" [(ngModel)]="driverService.selectedDriver.user_mobile" placeholder="Mobile" />
  </div>
</div>
<div class="control-group">
    <label class="control-label">Address: </label>
    <div class="controls">
      <input type="text" class="form-control" name="user_address" #name="ngModel" [(ngModel)]="driverService.selectedDriver.user_address" placeholder="Address" />
    </div>
  </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success" [disabled]="!driverForm.valid"><i class="fa fa-save"></i>Submit</button>
      <button type="button" class="btn btn-default" *ngIf="driverService.selectedDriver.$key!=null" (click)="onDelete(driverForm)"><i class="fa fa-trash"></i>Delete</button>
      <button type="button" class="btn btn-warning" (click)="resetForm(driverForm)"><i class="fa fa-repeat"></i>Reset</button>
    </div>
</form> --> -->
