<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Remits</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['home']">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cars List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle">Here is the driver's remit page.</h6>
    <div class="mat-app-background basic-container">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
              <mat-form-field style="width: 400px; text-align: center;" class="col-6">
                <input class="text-center" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter your search term here..." maxlength="30" matTooltip="*Maximum characters is 30" matTooltipPosition="after">
              </mat-form-field>
              <span><i class="mdi mdi-information-outline"></i></span>
            </div>
            <div class="row h-100 justify-content-center align-items-center">
              <mat-table #table [dataSource]="remitSource" matSort id="basic-table" class="col-12" style="width: auto; padding: 0;">
                <ng-container matColumnDef="total_paypal">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Total PayPal</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.total_paypal}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="full_name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.full_name}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="total_cash">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Total Cash </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.total_cash}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="balance">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Balance </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.balance}} </mat-cell>
                </ng-container>

                <!--<ng-container matColumnDef="timestamp">-->
                <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}} </mat-cell>-->
                <!--</ng-container>-->

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="white-space: nowrap">
                    <button mat-button color="accent" id="hideThis" data-toggle="modal" (click)="passRemitData(element.balance, element.$key, element.full_name)" data-target="#remitNowModal"><i class="mdi mdi-arrow-down-box"></i> Remit
                    </button>
                    <button class="btn btn-outline-info" mat-button color="warm" style="margin-left: 40px;" (click)="onSelect(element)"><i class="mdi mdi-format-list-bulleted"></i>Remits History</button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="clientColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: clientColumns;"></mat-row>

              </mat-table>
              <mat-card  *ngIf="noRecords" style="padding:100px;">
                <h3 style="text-align:center">We couldn't find data for
                  <span style="color:red">"{{remitSource.filter}}"</span>
                </h3>
              </mat-card>
              <mat-paginator #paginator
                             [pageSize]="5"
                             [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
        </div>
      </div>
    </div>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Remit Cash Modal -->
<div id="remitNowModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Cash Remit</h4>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Driver Name" [ngModel]="passFullName" readonly>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Balance" [ngModel]="passBalance" readonly>
        </mat-form-field>
        <form class="example-form" #myForm="ngForm" (ngSubmit)="onPassAmount(myForm);">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Input Amount Here" type="number" [(ngModel)]="remitAmount" [formControl]="rAmount" (keyup)="onKey($event)" style="width: 500px;" required>
            <mat-error *ngIf="rAmount.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <button type="submit" [disabled]="!rAmountisValid" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#confirmNow">Confirm Remit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Confirm Remit Modal -->
<div id="confirmNow" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Confirm Remit of: {{amount2}} by driver: {{passFullName}}</h4>
        <button (click)="onSubmit()" class="btn btn-primary" data-dismiss="modal"> Yes</button>
        <button mat-button (click)="openSnackBar('Cancelled Remit')" data-dismiss="modal">No</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
