@media print{
  .doNotPrint{display:none !important;}

}

#sidebar2 {
  display: none;
}

.active {
  background-color: #2ab7f5 !important;
}

.mini1css {
  width: 40px;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.cssleft {
  flex-direction: column;
  display: block;
  position: relative;
  margin: auto 0;
  text-align: center!important;
}

.cssleft2 {
  flex-direction: column;
  display: block;
  position: relative;
  margin-left: -40px;
  text-align: center!important;
}

#b4side {
  display: none;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }

  #b4side {
    display: block;
  }

  .light-logo {
    max-height: 20%;
    max-width: 20%;
    margin-bottom: -10px;
  }

  .dropdown-menu {
    background-color: #3e5569;
  }

}

@media (max-width: 567px) {
  #sidebar {
    display: none;

    .dropdown-menu-center {
      background-color: #3e5569;
    }
  }

  #b4side {
    display: block;
  }

  .light-logo {
    max-height: 30%;
    max-width: 30%;
  }
}

#sidebar {
  flex-shrink: 0;
}
