<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Add Car</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Car</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-body">
              <h4 class="card-title">Car Info</h4>
                  <div class="alert alert-success" *ngIf="carService.incar == true">
                      <button class="close" data-dismiss="alert">×</button>
                      <strong>Success!</strong> Added car info
                  </div>
                  <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="control-group">
                      <div class="controls">
                        <mat-form-field>
                          <mat-label>Car Plate Number</mat-label>
                          <input matInput name="car_plate_number" formControlName="carPlateNumber" placeholder="AAA-1111" mask='SSS-0000' oninput="this.value = this.value.toUpperCase()" [dropSpecialCharacters]="false" required>
                          <mat-error *ngIf="car_pnE.invalid">{{getErrorMessage4()}}</mat-error>
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="control-group">
                    <!-- <label class="control-label">car brand: </label>
                    <div class="controls">
                      <input type="text" class="form-control" name="car_brand" #name="ngModel" [(ngModel)]="carService.selectedCar.car_brand" placeholder="brand" />
                    </div> -->
                    <!--<label class="control-label">Car brand: </label>-->
                    <div class="controls">
                      <!--<select name="car_brand" id="car_brand" #name="ngModel" [(ngModel)]="carService.selectedCar.car_brand" (change)="onSelect($event.target.value)" required>-->
                        <!--<option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</option>-->
                      <!--</select>-->
                      <mat-form-field>
                        <mat-label>Car brand</mat-label>
                        <mat-select name="car_brand" id="car_brand" formControlName="carBrand" (selectionChange)="onSelect($event)" required>
                          <mat-option *ngFor="let brand of brands" [value]="brand.name">{{brand.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="car_brandE.invalid">{{getErrorMessage3()}}</mat-error>
                      </mat-form-field>
                    </div>
                    <!--<label class="control-label">Car model: </label>-->
                    <!--<p>Selected: {{this.selectedBrand}}</p>-->
                    <div class="controls">
                      <mat-form-field>
                        <mat-label>Car model</mat-label>
                        <mat-select name="car_model" id="car_model" formControlName="carModel" required>
                          <mat-option *ngFor="let model of models" [value]="model.name">{{model.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="car_brandE.invalid">{{getErrorMessage3()}}</mat-error>
                      </mat-form-field>
                      <!--<select name="car_model" id="car_model" #name="ngModel" [(ngModel)]="carService.selectedCar.car_model" required>-->
                        <!--<option *ngFor="let model of models" [value]="model.name">{{model.name}}</option>-->
                      <!--</select>-->
                    </div>
                  </div>
                    <div class="control-group">
                      <!--<label class="control-label">car color: </label>-->
                      <div class="controls">
                        <!--<input type="text" class="form-control" name="car_color" #name="ngModel" [(ngModel)]="carService.selectedCar.car_color" minlength="4" placeholder="color" />-->
                        <mat-form-field>
                          <mat-label>Car Color</mat-label>
                          <input matInput name="car_color" formControlName="carColor" minlength="3" maxlength="20" placeholder="color" [pattern]="'[a-zA-Z ]*'" required>
                          <mat-error *ngIf="car_colorE.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">car type: </label>
                      <div class="controls">
                        <!--<input type="radio" value="Single" class="form-control" name="car_type" [(ngModel)]="carService.selectedCar.car_type" (click)="onRadioClick(0)"/>Single<br>-->
                        <!--<input type="radio" value="Family" class="form-control" name="car_type" [(ngModel)]="carService.selectedCar.car_type" (click)="onRadioClick(1)"/>Family<br>-->
                        <!--<input type="radio" value="Barkada" class="form-control" name="car_type" [(ngModel)]="carService.selectedCar.car_type" (click)="onRadioClick(2)"/>Barkada-->
                          <mat-radio-group name="car_type" formControlName="carType" required>
                            <mat-radio-button value="single">Single</mat-radio-button>
                            <mat-radio-button value="family">Family</mat-radio-button>
                            <mat-radio-button value="barkada">Barkada </mat-radio-button>
                            <mat-radio-button value="premium">PREMIUM </mat-radio-button>
                          </mat-radio-group>
<!--                        <mat-error *ngIf="car_capacityE.invalid">{{getErrorMessage2()}}</mat-error>-->
                      </div>
                    </div>
                    <div class="control-group">
                      <!--<label class="control-label">car capacity: </label>-->
                      <div class="controls">
                        <mat-form-field>
                          <mat-label>Car Capacity</mat-label>
                          <input matInput name="car_capacity" formControlName="carCapacity" readonly required>
                          <mat-error *ngIf="car_capacity.invalid">{{getErrorMessage2()}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                      <div class="form-actions">
                        <button type="submit" mat-raised-button color="primary" [disabled]="!carForm.valid"><i class="fa fa-save"></i>Submit</button>
                        <button type="button" class="btn btn-default" *ngIf="carService.selectedCar.$key!=null" (click)="onDelete(carForm)"><i class="fa fa-trash"></i>Delete</button>
                        <button type="button" class="btn btn-warning" (click)="resetForm(carForm)"><i class="fa fa-repeat"></i>Reset</button>
                      </div>
                  </form>
              </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-body">
              <p>Number of car per type: <span></span></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
