<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-light-info">
    <div class="auth-box bg-light border-top border-secondary">
      <div>
        <div class="text-center p-t-20 p-b-20">
          <h3>Add New Admin Account</h3>
        </div>
      <form class="form-horizontal m-t-20" #f="ngForm">
                      <div class="example-container">
                        <mat-form-field>
                          <input matInput class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" [formControl]="userEmail" [(ngModel)]="email" pattern="[^ @]*@[^ @]*" required>
                          <mat-error *ngIf="userEmail.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="userPassword" [(ngModel)]="password">
                          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                          <mat-error *ngIf="userPassword.invalid">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput class="form-control" id="FullName" #fullname name="fullname" type="text" placeholder="Full Name">
                        </mat-form-field>
                    </div>
                    <button [disabled]="!email || !password || !fullname" (click)="signup(fullname.value)" class="btn btn-success btn-block">
                      Signup
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
