<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Drivers List</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Drivers List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
                <!--<div class="alert alert-success" *ngIf="driverService.emailadded == true">-->
                    <!--<button class="close" data-dismiss="alert" (click)="resetAlert()">×</button>-->
                    <!--<strong>Success!</strong> Added email address to the driver</div>-->
                <!--<div class="alert alert-success" *ngIf="driverService.deldriver == true">-->
                    <!--<button class="close" data-dismiss="alert" (click)="resetAlert()">×</button>-->
                    <!--<strong>Success!</strong> Driver info deleted</div>-->
                <!--<div class="alert alert-success" *ngIf="driverService.updriver == true">-->
                    <!--<button class="close" data-dismiss="alert" (click)="resetAlert()">×</button>-->
                    <!--<strong>Success!</strong> Updated driver info</div>-->
                        <div class="mat-app-background basic-container">
                            <div class="example-container mat-elevation-z8">
                                <div class="example-header">
                                  <mat-form-field style="width: 400px">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here..." maxlength="30" matTooltip="*Maximum characters is 30" matTooltipPosition="after" style="width: 500px;">
                                  </mat-form-field>
                                  </div>
                                <mat-table #table [dataSource]="dataSource" matSort id="basic-table">

                                  <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->
                                  <ng-container matColumnDef="in1">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index;"> {{element.in1}} </mat-cell>
                                  </ng-container>

                                  <!-- Position Column -->
                                  <ng-container matColumnDef="user_firstname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.user_firstname}} </mat-cell>
                                  </ng-container>

                                  <!-- Name Column -->
                                  <ng-container matColumnDef="user_lastname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Lastname </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.user_lastname}} </mat-cell>
                                  </ng-container>

                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="user_email">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{ (element.user_email | limitTo: 18) + (element.user_email.length > 18 ? '...' : '') }} </mat-cell>
                                  </ng-container>

                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="total_rating">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total Rating </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.total_rating}} </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="dispatched">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Dispatched</mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index;"> <button *ngIf="element.dispatched === false" class="btn btn-success" mat-button style="padding: 10px; background-color: #28b779;" (click)="openDispatch(element)">DISPATCH</button><button *ngIf="element.dispatched !== false" mat-button style="padding: 10px; background-color: #1b4584" (click)="dispatchDetails(element.$key)">DETAILS</button></mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="actions" class="hideX">
                                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index">
                                      <button mat-icon-button color="accent" (click)="openDialog(element, element.user_email)"><i class="mdi mdi-format-list-bulleted"></i> View</button>
                                    </mat-cell>
                                  </ng-container>
                                  <ng-container matColumnDef="location" class="hideX">
                                    <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                                  <mat-cell *matCellDef="let element; let i = index">
                                    <button mat-icon-button color="accent" (click)="onLocation(element, element.user_firstname, element.user_lastname)"><i class="mdi mdi-crosshairs-gps"></i> View</button>
                                  </mat-cell>
                                  </ng-container>

                                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                                </mat-table>
                              <mat-card  *ngIf="noRecords" style="padding:100px;">
                                <h3 style="text-align:center">We couldn't find data for
                                  <span style="color:red">"{{dataSource.filter}}"</span>
                                </h3>
                              </mat-card>
                                <mat-paginator #paginator
                                                [pageSize]="5"
                                                [pageSizeOptions]="[5, 10, 20]"
                                                [showFirstLastButtons]="true">
                                </mat-paginator>
                              </div>
                          </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>

<!-- Driver Dispatch Modal -->
<!--<div id="dispatchModal" class="modal fade" role="dialog">-->
  <!--<div class="modal-dialog">-->

    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h4 class="modal-title">Confirm Dispatch</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<table class="table table-bordered table-striped">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th>Driver Name</th>-->
            <!--<th>Assign Now</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr class="odd gradeX">-->
            <!--<td>{{adriver.user_firstname + " " + adriver.user_lastname}}</td>-->
            <!--<td> <a class="btn btn-mini btn-primary" (click)="assignNow(adriver.key, adriver.user_email, this.pnumberToPass, this.typeToPass)" data-toggle="modal" data-target="#selectDriverModal">ASSIGN THIS DRIVER</a>-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
