.highlight {
  background-color: green;
  color: green;
}

.h-default {
  background-color: none;
}

.table tr.active td {
  background-color:#EEEEEE !important;
}

.con {
  float: left;
  margin: 10px 20px;
}

.con2 {
  float: right;
  margin: 4px 20px;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-column-in1 {
  max-width: 80px;
}

.mat-cell {
  padding: 8px 8px 8px 8px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
