<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a><a href="#" class="current">Table</a> </div>
    <h1>Drivers Table</h1>
  </div>
  <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="widget-box nopadding">
            <div class="widget-title"> <span class="icon"><i class="icon-pencil"></i></span>
              <h5>Driver Table</h5>
            </div>
            <div class="widget-content">
                <!--<div class="alert alert-success" *ngIf="driverService.emailadded == true">-->
                    <!--<button class="close" data-dismiss="alert" (click)="resetAlert()">×</button>-->
                    <!--<strong>Success!</strong> Added email address to the driver</div>-->
                <!--<div class="alert alert-success" *ngIf="driverService.deldriver == true">-->
                    <!--<button class="close" data-dismiss="alert" (click)="resetAlert()">×</button>-->
                    <!--<strong>Success!</strong> Driver info deleted</div>-->
                <!--<div class="alert alert-success" *ngIf="driverService.updriver == true">-->
                    <!--<button class="close" data-dismiss="alert" (click)="resetAlert()">×</button>-->
                    <!--<strong>Success!</strong> Updated driver info</div>-->
                        <div class="mat-app-background basic-container">
                            <div class="example-container mat-elevation-z8">
                                <div class="example-header">
                                    <mat-form-field>
                                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                    </mat-form-field>
                                  </div>
                                <mat-table #table [dataSource]="dataSource" matSort id="basic-table">

                                  <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->
                                  <ng-container matColumnDef="in1">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index;"> {{element.in1}} </mat-cell>
                                  </ng-container>

                                  <!-- Position Column -->
                                  <ng-container matColumnDef="user_firstname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Driver Firstname</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.user_firstname}} </mat-cell>
                                  </ng-container>

                                  <!-- Name Column -->
                                  <ng-container matColumnDef="user_lastname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Driver Lastname </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.user_lastname}} </mat-cell>
                                  </ng-container>

                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="user_email">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Email </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.user_email}} </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="actions" class="hideX">
                                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index">
                                      <button mat-icon-button color="accent" (click)="openDialog(element, element.user_email)">View</button>
                                    </mat-cell>
                                  </ng-container>

                                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                                </mat-table>
                              <mat-card  *ngIf="noRecords" style="padding:100px;">
                                <h3 style="text-align:center">We couldn't find data for
                                  <span style="color:red">"{{dataSource.filter}}"</span>
                                </h3>
                              </mat-card>
                                <mat-paginator #paginator
                                                [pageSize]="5"
                                                [pageSizeOptions]="[5, 10, 20]"
                                                [showFirstLastButtons]="true">
                                </mat-paginator>
                              </div>
                          </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
