<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Users List</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Users List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- Mat Table Starts here -->

    <div class="mat-app-background basic-container">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
        </div>
          <button (click)="sendEmail()">Send Email via Cloud Function</button>
      </div>
    </div>
  </div>
</div>
