<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Payments</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="../../home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Payments</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
      Popover on top
    </button>
    <div class="mat-app-background basic-container">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field style="width: 400px">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here..." maxlength="30" matTooltip="*Maximum characters is 30" matTooltipPosition="after" style="width: 500px;">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort id="basic-table">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="in1">
            <mat-header-cell *matHeaderCellDef mat-sort-header>*NO*</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;"> {{element.in1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="payment_method">
            <mat-header-cell *matHeaderCellDef mat-sort-header>*Payment Method*</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;"> {{element.payment_method}} </mat-cell>
          </ng-container>

          <!-- Position Column -->

          <ng-container matColumnDef="price_payed">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price Payed*</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price_payed}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="push_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>*Date Payed*</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.push_date}} </mat-cell>
          </ng-container>

          <!--<ng-container matColumnDef="actions" class="hideX">-->
            <!--<mat-header-cell *matHeaderCellDef>*ACTION*</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let element; let i = index">-->
              <!--<button mat-icon-button style="color: #2d6987;"><i class="mdi mdi-open-in-new"></i> DETAILS</button>-->
            <!--</mat-cell>-->
          <!--</ng-container>-->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-card  *ngIf="noRecords" style="padding:100px;">
          <h3 style="text-align:center">We couldn't find data for
            <span style="color:red">"{{dataSource.filter}}"</span>
          </h3>
        </mat-card>
        <mat-paginator #paginator
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

